{% block messages %}
    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger alert-dismissible">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <h4><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Błąd!</h4>
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success alert-dismissible">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <h4><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Sukces!</h4>
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('warning') %}
        <div class="alert alert-warning alert-dismissible">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <h4><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Uwaga!</h4>
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('info') %}
        <div class="alert alert-info alert-dismissible">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <h4><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Informacja!</h4>
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}